<ion-content>
<div class="main-info">
  <div class="wrp">
      <div class="mi-title">Выберите выдачу</div>
      <div class="mi-body">
          <cdk-virtual-scroll-viewport  style="height: 400px; width: 100%" itemSize="90" >
            <ng-container *ngFor="let info of tbls">
                  <div class="mi-table" (click)="toDraw(info.code)">
                      <table>
                        <tr>
                          <th>Код</th>
                          <th>Дата начисления</th>
                          <th>Дата выдачи</th>
                          <th>Бонус</th>
                          <th>Штраф</th>
                          <th>Аванс</th>
                          <th>К выплате</th>
                          <th>Тип платежа</th>
                          <th>Сообщение</th>
                        </tr>
                        <tr>
                          <td>{{info.code}}</td>
                          <td>{{info.DateCash}}</td>
                          <td>{{info.date_put}}</td>
                          <td>{{info.bonus}}</td>
                          <td>{{info.shtraf}}</td>
                          <td>{{info.prepay}}</td>
                          <td>{{info.profit}}</td>
                          <td>{{info.PayType}}</td>
                          <td>{{info.message}}</td>
                        </tr>
                      </table>
                    </div>
            </ng-container>
          </cdk-virtual-scroll-viewport>  
      </div>
  </div>

</div>
</ion-content>
