.ps{
    box-shadow: 0 0 1px 1px #bdbdbd;
    border-radius: 3px;
    color: #4a4a4a;
    font-size: 19px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 26%;
    padding: 42px;
}

#wrp{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.ps-inp{
    outline: none;
    text-align: center;
}

.ps-title{
    text-transform: uppercase;
}