.lg-login{
    outline: none;
    height: 12%;
    width: 80%;
    background: no-repeat;
    box-shadow: 0 0 1px 1px #bdbdbd;
    border-radius: 3px;
    color: #4a4a4a;
    font-size: 19px;
    margin: 10px 0;
}

#wrp{
height: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.shirm{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: RGBA(0,0,0,0.1);
    z-index: 999999;
}

.shirm i{
    position: relative;
    margin: auto;
    font-size: 43px;
    color: #2b637e;
}